body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mt-50 {
  margin-top: 50px;
}

span {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

.active {
  border: solid 3px black;
}

#content {
  padding: 10px;
  border: solid 3px red;
}
